<!DOCTYPE html>
<html lang="en">
<head>
  <title>Buy Me This!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet">
  <style>
    body{
      background-color: #e6e6e6;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/fullPage/jquery.fullPage.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#fullpage').fullpage({
        sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE']
      });
    });
  </script>
</head>

<body>
<script src="http://buymethis.azurewebsites.net/static/js/app.js"></script>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Buy Me This</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <fb:login-button style="margin-top:5px" size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
        </li>
        <li>
          <p>.</p>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div id="fullpage">
<div class="section">
<div class="container-fluid">
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row-fluid">
    <div class="col-md-10 col-md-offset-1">
      <form role="form">
        <div class="form-group">
          <script>
          document.getElementById("yolo").innerHTML = "Have a nice day!";
          </script>
          <h4 id="yolo"><strong> List of Items </strong></h4>
          





          <p>Click the button to demonstrate the prompt box.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
    var person = prompt("Please enter your name", "Harry Potter");
    
    if (person != null) {
        document.getElementById("demo").innerHTML =
        "Hello " + person + "! How are you today?";
    }
}
</script>







          <textarea class="form-control" rows="25" placeholder="List of Items2"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<div class="section">
  <div class="container-fluid">
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row-fluid">
    <div class="col-md-5 col-md-offset-1">
      <form role="form">
        <div class="form-group">
          <h4><strong>Who Owes You</strong></h4>
         <div style="background-color: #FFF8C6; margin-left: 20px; margin-right: 20px; padding-bottom: 15px; padding-left: 15px; padding-right: 15px; padding-top: 15px;">
          <div id = "colored-box">
            </a> <ul>
              {% for element in array2 %}
              <li><p>{{ element }}</p></li>
              {% endfor %}
                </ul>
              <br/>
              </div>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <form role="form">
        <div class="form-group">
          <h4><strong>Who You Owe</strong></h4>
          <div style="background-color: #FFF8C6; margin-left: 20px; margin-right: 20px; padding-bottom: 15px; padding-left: 15px; padding-right: 15px; padding-top: 15px;">
          <div id = "colored-box">
            </a> <ul>
              {% for element in array %}
              <li><p>{{ element }}</p></li>
              {% endfor %}
                </ul>
              <br/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container-fluid">
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-2">
      <form role="form">
        <div class="form-group">
          <h4><strong> Group </strong></h4>
          <textarea class="form-control" rows="10" placeholder="The people who are in your group"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
  <div class="row"> <div class="col-md-12"> </br> </div> </div>
</div>
</div>
</div>

<div id="status">
</div>
</body>
</html>